<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet consectetur.
        </h2>
    </header>
    
    <div class="post__body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam ipsam cupiditate iste, ut quisquam dolorum, assumenda, cumque porro aliquam unde corrupti culpa tempora repellat sed nam sequi dignissimos. Assumenda, nam dolorum! Similique, explicabo beatae illum facilis fuga sed molestias illo libero ratione consequatur deleniti culpa dolore, fugit blanditiis debitis earum?
    </div>
</article>